*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffdef;
  color: #401718;
  font-family: 'Lato', sans-serif;
}

nav {
  width: 100%;
  display: inline;
}

nav ul {
  background: #401718;
  padding: 32px 130px 32px 32px;
  margin: 0;
  text-align: right;
}

nav li {
  display: inline-block;
}

/* FONT FOR NAV */

@font-face {
  font-family: "Miso";
  src: url("font-css/miso.eot?") format("eot"), url("font-css/miso.woff") format("woff"), url("font-css/miso.ttf") format("truetype"), url("font-css/miso.svg#Miso") format("svg");
  font-weight: normal;
  font-style: normal;
}

nav a {
  color: #fffdef;
  padding: 10px;
  font-family: 'Miso';
  text-decoration: none;
}

section.content {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 6px;
}

div.food {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  position: relative;
}

h1 {
  text-align: center;
  font-weight: 1000;
  font-size: 70px;
  /* I want this to be bolder */
}

h2 {
  text-align: center;
  margin-top: -20px;
}

img {
  position: relative;
  left: 90px;
  margin-bottom: 10px;
}

.food p {
  font-size: 20px;
  color: #fffdef;
  text-align: justify;
  position: absolute;
  bottom: 0;
  padding: 5px 10px 10px 10px;
  margin: 0;
  line-height: 28px;
  height: 40px;
  overflow: hidden;
  background: #060a00;
  background: linear-gradient(bottom, rgba(6, 10, 0, 1), rgba(6, 10, 0, 0.4));
  background: -webkit-linear-gradient(bottom, rgba(6, 10, 0, 1), rgba(6, 10, 0, 0.4));
  background: -moz-linear-gradient(bottom, rgba(6, 10, 0, 1), rgba(6, 10, 0, 0.4));
  transition: height .5s;
}

/* DISH BACKGROUND */

.suya {
  background-image: url('../img/suya.jpg');
}

.egusi-eba {
  background-image: url('../img/egusi.png');
}

.tilapia {
  background-image: url('../img/tilapia.png');
}

/* GENERAL CLASS STYLES */

.dish {
  font-weight: bold;
}

.price {
  float: right;
}

/* TOGGLE DESCRIPTION */

.show-description p {
  height: 95px
}

/* FOOTER */

.footer {
  background: #401718;
  color: white;
  padding: 30px;
  font-size: 20px;
}

.flex-container {
  margin: auto;
  display: flex;
  max-width: 900px;
  flex-direction: row;
}

#footer-inner {
  background: white;
  color: #401718;
  padding: 10px;
  align-items: center;
}

.footer-section {
  margin: 0 5px;
}

#footer-inner h2 {
  line-height: 30px;
  width: 200px;
  position: relative;
  top: 20px;
}

#footer-inner p {
  max-width: 150px;
  font-size: 17px;
}

form {
  display: inline-block;
  top: 35px;
}

input[type="email"] {
  padding: 15px;
  font-size: 20px;
  border: 1px solid rgba(225, 225, 237, 0.8);
}

input[type="submit"] {
  background: #401718;
  /*button*/
  color: white;
  padding: 15px;
  font-size: 20px;
}

i {
  padding: 3px;
}
#copyright {
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
}

/* MOBILE DEVICES */
@media (max-width: 930) {
  /*Turn #footer-inner into rows*/
  .flex-container {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  #footer-inner {
    align-content: center;
    align-items: baseline;
  }

  .footer-section {
    margin: 0 5px;
  }

  #footer-inner p {
    font-size: 17px;
  }

  form {
    display: block;
    top: 35px;
  }

  input[type="email"] {
    padding: 15px;
    font-size: 20px;
  }

  input[type="submit"] {
    background: #401718;
    /*button*/
    color: white;
    padding: 15px;
    font-size: 20px;
  }

  i {
    padding: 3px;
  }
}

@media (max-width: 565px) {
  /*Make .show-description p height higher*/
  body {
    padding: 3px;
  }
  h1 {
    font-size: 50px;
    margin-top: 15px;
  }
  h2 {
    font-size: 20px;
  }
  .show-description p {
    height: 100px;
  }
  img {
    display: none;
  }
}

@media (max-width: 565) {
  .show-description p {
    height: 300px
  }
}
