html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffdef;
  color: #401718;
  font-family: 'Lato', sans-serif;
}

nav {
  width: 100%;
  display: inline;
}

nav ul {
  background: #401718;
  padding: 32px 150px 32px 32px;
  margin: 0;
  text-align: right;
}

nav li {}

nav a {
  color: #fffdef;
  padding: 10px;
  font-family: 'Miso', sans-serif;
  text-decoration: none;
}

section.content {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 6px;
}

div.food {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  position: relative;
}

h1 {
  text-align: center;
  font-weight: 1000;
  font-size: 70px;
  /* I want this to be bolder */
}

h2 {
  text-align: center;
  margin-top: -20px;
}

img {
  position: relative;
  left: 90px;
  margin-bottom: 10px;
}

.food p {
  font-size: 20px;
  color: #fffdef;
  text-align: justify;
  position: absolute;
  bottom: 0;
  padding: 5px 10px 10px 10px;
  margin: 0;
  line-height: 28px;
  height: 27px;
  overflow: hidden;
  background: #060a00;
  background: linear-gradient(bottom, rgba(6, 10, 0, 1), rgba(6, 10, 0, 0.4));
  background: -webkit-linear-gradient(bottom, rgba(6, 10, 0, 1), rgba(6, 10, 0, 0.4));
  background: -moz-linear-gradient(bottom, rgba(6, 10, 0, 1), rgba(6, 10, 0, 0.4));
  transition: height .5s;
}

/* DISH BACKGROUND */

.suya {
  background-image: url('../img/suya.jpg');
}

.egusi-eba {
  background-image: url('../img/egusi.png');
}

.tilapia {
  background-image: url('../img/tilapia.png');
}

/* GENERAL CLASS STYLES */

.dish {
  font-weight: bold;
}

.price {
  float: right;
}

/* TOGGLE DESCRIPTION */

.show-description p {
  height: 90px
}

/* FOOTER */

.footer {
  background: #401718;
  color: #fffdef;
  padding: 50px 30px 30px 30px;
}

.mailing-list {
  background: white;
  display: inline-block;
}

.footer h2 {
  color: #401718;
  position: relative;
}

input[type="submit"] {
  background: #401718;
  color: white;
}

#copyright {
  text-align: center;
}

/* MOBILE DEVICES */

@media (max-width: 736px) {
  body {
    padding: 3px;
  }
  h1 {
    font-size: 50px;
    margin-top: 15px;
  }
  h2 {
    font-size: 20px;
  }
  .show-description p {
    height: 115px
  }
  img {
    display: none;
  }
}
