body {
  background-color: #fffdef;
  color: #401718;
  font-family: 'Lato', sans-serif;
}
/*-------------------------------------------------------------------------------------*/

/* NAViGATION */

#navigation ul {
  background: #401718;
  padding: 32px 130px 32px 32px;
  margin: 0;
}

#navigation a,
#navigation a:hover {
  color: #fffdef;
  padding: 40px 15px 35px 15px;
  font-family: sans-serif;
  text-decoration: none;
}

#navigation a:hover {
  background: rgba(43, 5, 5, 1.00);
}

.active a {
  background: rgba(43, 5, 5, 1.00);
}
/*-------------------------------------------------------------------------------------*/

/* HEADER */
#header {
  padding-top: 30px;
}
/*-------------------------------------------------------------------------------------*/

/* MENU */
.nav-link {
  color: black;
}

div.food {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  position: relative;
}

h1 {
  text-align: center;
  font-weight: 1000;
  font-size: 70px;
  /* I want this to be bolder */
}

h2 {
  text-align: center;
  margin-top: -20px;
}

img {
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;
}

.food p {
  font-size: 20px;
  color: #fffdef;
  text-align: justify;
  position: absolute;
  bottom: 0;
  padding: 5px 10px 10px 10px;
  margin: 0;
  line-height: 28px;
  height: 27px;
  overflow: hidden;
  background: #060a00;
  background: linear-gradient(bottom, rgba(6, 10, 0, 1), rgba(6, 10, 0, 0.4));
  background: -webkit-linear-gradient(bottom, rgba(6, 10, 0, 1), rgba(6, 10, 0, 0.4));
  background: -moz-linear-gradient(bottom, rgba(6, 10, 0, 1), rgba(6, 10, 0, 0.4));
  transition: height .5s;
}

/* DISH BACKGROUND */

.suya {
  background-image: url('../img/suya.jpg');
}

.egusi-eba {
  background-image: url('../img/egusi.png');
}

.tilapia {
  background-image: url('../img/tilapia.png');
}

/* GENERAL CLASS STYLES */

.dish {
  font-weight: bold;
}

.price {
  float: right;
}

/* TOGGLE DESCRIPTION */

.show-description p {
  height: 90px
}
/*-------------------------------------------------------------------------------------*/

/* FOOTER */

#footer {
  background: #401718;
  color: #fffdef;
  padding: 30px;
  font-size: 20px;
}

#mailing-list {
  background: white;
  /*padding: 20px;*/
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  width: auto;
}

#mailing-list div {
  display: inline-block;
}

#mailing-list h2 {
  color: #401718;
  line-height: 30px;
  position: relative;
  text-align: left;
}

#mailing-list p {
  color: #401718;
  max-width: 150px;
  margin: 0 20px 0 20px;
  font-size: 17px;
  position: relative;
}

form {
  display: inline-block;
  position: absolute;
  top: 35px;
}

input[type="email"] {
  padding: 15px;
  font-size: 20px;
}

input[type="submit"] {
  background: #401718;
  color: white;
  padding: 15px;
  font-size: 20px;
}

#social-buttons {
  background: white;
  color: #401718;
  padding: 20px;
  display: inline;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

#copyright {
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
}
/*-------------------------------------------------------------------------------------*/

/* MOBILE DEVICES */

@media (max-width: 736px) {
  body {
    padding: 3px;
  }
  h1 {
    font-size: 50px;
    margin-top: 15px;
  }
  h2 {
    font-size: 20px;
  }
  .show-description p {
    height: 115px
  }
  img {
    display: none;
  }
}
